<%= form_with model: @student, class: "form-container" do |form| %>
  <div class="form-field">
    <%= form.label :first_name, class: "form-label" %><br>
    <%= form.text_field :first_name, class: "form-input" %>
    <% @student.errors.full_messages_for(:first_name).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :middle_name, class: "form-label" %><br>
    <%= form.text_field :middle_name, class: "form-input" %>
    <% @student.errors.full_messages_for(:middle_name).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :last_name, class: "form-label" %><br>
    <%= form.text_field :last_name, class: "form-input" %>
    <% @student.errors.full_messages_for(:last_name).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :gender, class: "form-label" %><br>
    <%= form.text_field :gender, class: "form-input" %>
    <% @student.errors.full_messages_for(:gender).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :age, class: "form-label" %><br>
    <%= form.number_field :age, min: 0, step: 1, class: "form-input" %>
    <% @student.errors.full_messages_for(:age).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :course, class: "form-label" %><br>
    <%= form.number_field :course, min: 1, max: 10, step: 1, class: "form-input" %>
    <% @student.errors.full_messages_for(:course).each do |message| %>
      <div class="form-error"><%= message %></div>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: student.status || 'enrolled', class: "form-select" %>
  </div>

  <div class="form-field">
    <%= form.submit "Submit", class: "form-submit" %>
  </div>
<% end %>
