<h1>Students</h1>

<%= link_to "Add Student", new_student_path %>
<%= link_to "Queires", queries_path %>

<br><br>Currently, <%= Student.enrolled_count %> students are enrolled

<ul>
  <% @students.each do |student| %>
    <% unless student.academ_leave? %>
      <li>
        <%= link_to student.format_short, student %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>Currently, <%= Student.academ_leave_count %> students are on academic leave

<ul>
  <% @students.each do |student| %>
    <% if student.academ_leave? %>
      <li>
        <%= link_to student.format_short, student %>
      </li>
    <% end %>
  <% end %>
</ul>